<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926340643411-vqrlb13054h9tb5ov05ff143ihr6dhk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926340643411-vqrlb13054h9tb5ov05ff143ihr6dhk8</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkka8xwRVd-RCWgQR9wrCaUPB4jGQkBw</string>
	<key>GCM_SENDER_ID</key>
	<string>926340643411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanwe.FirebaseCrashlyticsTest</string>
	<key>PROJECT_ID</key>
	<string>testproject-1552896643444</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-1552896643444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926340643411:ios:2e95fc028346345ccc64a6</string>
</dict>
</plist>